.header {
    height: 64px;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 30px;
}

.header-logo {
    width: 55px;
    height: 55px;
    cursor: pointer;
}

.header-navbar {
    display: flex;
    align-items: center;
    padding: 0;
}

.header-navbar li {
    list-style: none;
    padding: 0 20px;
    font-weight: 600;
    font-size: 18px;
}

.header-navbar li:hover {
    cursor: pointer;
}

.header-navbar-text {
    position: relative;
    display: block;
    color: #fff;
}

.header-navbar-text::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1.5px;
    width: 100%;
    transform: scale(0);
    opacity: 0;
    transition: all .3s ease-out;
    top: 42px;
}

.header-navbar-text:hover::after {
    transform: scale(1);
    background-color: #fff;
    opacity: 1;
    transition: all .3s ease-out;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    padding-bottom: 0;
    z-index: 1;
}

.header-navbar-text--scroll{
    position: relative;
    color: #183861;
}

.header-navbar-text--scroll::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    transform: scale(0);
    opacity: 0;
    transition: all .3s ease-out;
    top: 42px;
}

.header-navbar-text--scroll:hover::after {
    transform: scale(1);
    background-color: #183861;
    opacity: 1;
    transition: all .3s ease-out;
}

.back-top {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    bottom: 50px;
    cursor: pointer;
    right: 80px;
    z-index: 10;
}

.back-top-icon {
    color: #fff;
    font-size: 25px;
}

