.v2Nips {
    background-color: #fff;
    border-radius: 10px;
    color: #fff;
    margin: 30px auto auto;
    overflow: hidden;
    width: 80%;
}

.v2Nips h1{
    color: #183861;
    font-size: 25px;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0;
}

.v2Nips-1 {
    color: #183861;
    line-height: 30px;
    margin: 0 40px;
    padding: 0 40px;
    border-bottom: 2px solid #33bae9;
    border-left: 2px solid #33bae9;
    border-right: 2px solid #33bae9;
    border-radius: 0 0 10px 10px;
}

.v2Nips-1-img {
    display: flex;
    justify-content: center;
}

.v2Nips-1-img img {
    height: 300px;
}

/* v2Nips-2 */

.v2Nips-2 {
    background-color: #33bae9;
    color: #fff;
    padding: 20px 40px;
    margin-top: 30px;
}

.v2Nips-2 p {
    line-height: 30px;
    padding-left: 40px;
}

.v2Nips-2-img {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.v2Nips-2-img img {
    height: 150px;
}

/* v2Nips-3 */

.v2Nips-3 {
    color:#183861;
    padding: 20px 40px;
}

.v2Nips-3-content {
    display: flex;justify-content: space-around;
}

.v2Nips-3-content-children {
    width: 45%;
}

.v2Nips-3-content-children p {
    border: 1px solid #183861;
    border-radius: 10px;
    padding: 10px 30px;
    text-align: center;
    text-transform: uppercase;
    line-height: 30px;
}

.v2Nips-3-content h3 {
    writing-mode: vertical-lr; 
    text-align: center;
}
